@using Waffle.Models.Settings
@model Footer

<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-title">
                        <i class="fa fa-bars"></i>
                        <localize key="community" />
                    </div>
                    <div class="footer-item">
                        <a href="/leaf/about" class="item-link">
                            <i class="fas fa-caret-right"></i>
                            <localize key="aboutUs" />
                        </a>
                    </div>
                    <div class="footer-item">
                        <a href="#" class="item-link"><i class="fas fa-caret-right"></i> Partners</a>
                    </div>
                    <div class="footer-item">
                        <a href="/leaf/privacy" class="item-link"><i class="fas fa-caret-right"></i> Term of use</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-title">
                        <i class="fa fa-bars"></i>
                        <localize key="contactUs" />
                    </div>
                    <div class="footer-item"><i class="fas fa-envelope"></i> <a href="mailto:@Model.Email">@Model.Email</a></div>
                    <div class="footer-item"><i class="fas fa-phone"></i> <a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></div>
                    <div class="footer-item"><i class="fab fa-telegram-plane"></i> <a href="/leaf/feedback">Feedback</a></div>
                </div>
                <div class="col-md-4">
                    <div class="footer-title">
                        <i class="fa fa-bars"></i>
                        <localize key="stayConnected" />
                    </div>
                    <div class="mb-2">Subscribe to receive the latest information</div>
                    <form method="post" action="/api/user/subscribe">
                        <div class="d-flex gap-4">
                            <input type="email" name="email" placeholder="Email" class="form-control border-0" required autocomplete="off" />
                            <button type="submit" class="btn btn-primary">
                                <localize key="subscribe" />
                            </button>
                        </div>
                    </form>
                    @if (!User.Identity?.IsAuthenticated ?? false)
                    {
                        <div class="mb-2">
                            <small>
                                <localize key="or" />
                                <a href="/users/login">
                                    <localize key="signIn" />
                                </a>
                            </small>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="company">
            © @DateTime.Now.Year <a href="/">@Model.CompanyName</a>. All rights reserved.
        </div>
        <div class="footer-social">
            <a href="@Model.Social.FacebookUrl">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="@Model.Social.InstagramUrl">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="@Model.Social.TwitterUrl">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="@Model.Social.YoutubeUrl">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
</footer>
