@using Waffle.Models.Components
@model Image

@if (Model != null && Model.FileContent != null)
{
    if (!string.IsNullOrEmpty(Model.Url))
    {
        <a href="@Model.Url" aria-label="@Model.Title">
            <img src="@Model.FileContent.Url" alt="@Model.Title" width="@Model.Width" height="@Model.Height" class="wf-image @Model.ClassName" id="@Model.Id" loading="lazy" />
        </a>
    }
    else
    {
        <img src="@Model.FileContent.Url" alt="@Model.Title" width="@Model.Width" height="@Model.Height" class="wf-image @Model.ClassName" id="@Model.Id" loading="lazy" />
    }
}