@page "/user/{id}"
@using Waffle.Core.Helpers
@using Waffle.Extensions;
@model Waffle.Pages.User.IndexModel
@{
    ViewData["Title"] = Model.ApplicationUser.UserName;
    var avatar = $"https://www.gravatar.com/avatar/{EncryptHelper.MD5Create(Model.ApplicationUser.Email)}?s=520";
}

<main class="container">
    <div class="row">
        <partial name="_Leftbar" model="Model.ApplicationUser" />
        <div class="col-md-9 mb-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="activity-tab" data-bs-toggle="tab" data-bs-target="#activity-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Hoạt động</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="artice-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Bài viết</button>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#">Bình luận</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link disabled" aria-disabled="true">Người theo dõi</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="activity-tab-pane" role="tabpanel" aria-labelledby="activity-tab" tabindex="0"></div>
                <div class="tab-pane fade" id="artice-tab-pane" role="tabpanel" aria-labelledby="artice-tab" tabindex="0">
                    @if (Model.Articles != null)
                    {
                        @foreach (var article in Model.Articles.Data)
                        {
                            <div class="list-group-item">
                                <a href="@article.Url">@article.Name</a>
                            </div>
                        }
                    }
                </div>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
                <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
            </div>
        </div>
    </div>
</main>

<script type="application/ld+json">
    {
      "@@context": "https://schema.org",
      "@@type": "ProfilePage",
      "dateCreated": "@Model.ApplicationUser.CreatedAt",
      "mainEntity": {
        "@@type": "Person",
        "name": "@Model.ApplicationUser.Name",
        "alternateName": "@Model.ApplicationUser.UserName",
        "identifier": "@Model.ApplicationUser.Id",
        "description": "Defender of Truth",
        "image": "@avatar"
      }
    }
</script>