@using Waffle.Extensions;
@using Waffle.Models.Components
@model Feed

<div class="mb-4 feed">
    <div class="title">
        <span>
            @Model.Name
        </span>
        <a href="/products/list" aria-label="Xem thêm">
            <i class="fas fa-angle-double-right"></i>
        </a>
    </div>
    <div class="row">
        @foreach (var item in Model.Articles)
        {
            <div class="col-6 col-md-3">
                <a href="@item.GetUrl()">
                    <div class="card-image bg-dark">
                        <img src="@item.Thumbnail" alt="@item.Name" class="object-cover product-thumbnail" loading="lazy" />
                    </div>
                </a>
                <div class="py-2">
                    <a href="@item.GetUrl()" class="line-clampin">
                        @item.Name
                    </a>
                </div>
            </div>
        }
    </div>
</div>