@using Waffle.Models.Components
@model ArticlePicker

<div class="title">@Model.Title</div>
<div class="bg-white mb-4 shadow rounded">
    @for (var i = 0; i < Model.Articles.Count; i++)
    {
        if (i == 0)
        {
            <div>
                <img src="@Model.Articles[i].Thumbnail" alt="@Model.Articles[i].Name" loading="lazy" class="w-full object-fit-cover" height="250" />
                <div class="px-2 py-1">
                    <div class="mb-1 font-medium"><a href="/article/@Model.Articles[i].NormalizedName">@Html.Raw(Model.Articles[i].Name)</a></div>
                    <div class="text-gray-500 line-clampin">
                        @Model.Articles[i].Description
                    </div>
                </div>
            </div>
            continue;
        }
        <div class="border-t px-2 py-1">
            <div class="mb-1 font-medium"><a href="/article/@Model.Articles[i].NormalizedName">@Html.Raw(Model.Articles[i].Name)</a></div>
            <div class="text-gray-500 text-sm flex">
                <div class="mr-2"><i class="fa fa-calendar mr-2"></i>@Model.Articles[i].ModifiedDate</div>
                <div><i class="fas fa-eye mr-2"></i>@Model.Articles[i].ViewCount.ToString("N0")</div>
            </div>
        </div>
    }
</div>