@page
@using Waffle.Models.Components
@model Waffle.Pages.Shop.IndexModel

<div class="container">
    <div class="wf-row gap-4">
        <div class="w-2/3">

            <div class="p-4 bg-white shadow rounded mb-4 flex gap-2 flex-wrap">
                @foreach (var group in Model.BaseInfoAndLinks.LandingPageBaseInfo.GroupList)
                {
                    <a href="/shop/group/@group.GroupId" class="px-4 py-1 rounded bg-gray-100 rounded">@group.GroupName</a>
                }
            </div>

            <div class="mb-2">
                <div class="title">@Model.BaseInfoAndLinks.LandingPageBaseInfo.Name (@Model.BaseInfoAndLinks.LandingPageLinkList.TotalCount)</div>
                <div class="grid grid-cols-4 gap-4">
                    @foreach (var item in Model.BaseInfoAndLinks.LandingPageLinkList.LinkList)
                    {
                        <div class="card bg-white shadow rounded">
                            <div class="card-image">
                                <img src="@item.Image" alt="@item.LinkName" class="object-fit-cover" loading="lazy" />
                            </div>
                            <div class="p-2">
                                <a href="@item.Link">
                                    @item.LinkName
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            
            <partial name="~/Views/Shared/Components/Pagination/Token.cshtml" model="Model.Pagination" />

            @if (Model.HasProduct)
            {
                <div class="title">Lựa chọn của biên tập viên</div>
                <div class="grid grid-cols-4 gap-4 mb-4">
                    @foreach (var item in Model.Products)
                    {
                        <div class="card bg-white shadow rounded">
                            <div class="card-image">
                                <img src="@item.Thumbnail" alt="@item.Name" class="object-fit-cover" loading="lazy" />
                            </div>
                            <div class="p-2">
                                <a href="/shop/@item.NormalizedName">
                                    @item.Name
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
        <div class="w-1/3">
            @await Component.InvokeAsync(nameof(ArticlePicker))
            @await Component.InvokeAsync(nameof(Tag))
        </div>
    </div>
</div>