@using Waffle.Models.Components
@model LatestNews

<div class="latest-news @Model.ClassName">

    <div class="section-title-wrapper">
        <div class="title-wrap">
            <h2 class="section-title">
                @Model.Title
                <span class="title-suffix">
                    
                </span>
            </h2>
        </div>
        <div class="section-description"></div>
    </div>

    <div class="items">
        @foreach (var news in Model.Data)
        {
            <div class="item">
                <div class="thumbnail">
                    <img src="@news.Thumbnail" alt="@news.Name" />
                </div>
                <div class="item-name">
                    <a href="@news.Url">@news.Name</a>
                </div>
                <div class="item-description">@news.Description</div>
            </div>
        }
    </div>
</div>