@using Waffle.Models.Components
@model LatestNews

<div class="latest-news @Model.ClassName">

    <h1 data-aos="fade-up" class="text-center text-2xl md:text-4xl 2xl:text-4xl uppercase font-bold py-4 mb-0 2xl:mb-4 text-primary" style="text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;">
        @Model.Title
    </h1>

    <div class="items" data-aos="fade-up">
        @foreach (var news in Model.Data)
        {
            <div class="item">
                <div class="thumbnail">
                    <img src="@news.Thumbnail" alt="@news.Name" />
                </div>
                <div class="item-name">
                    <a href="@news.Url">@news.Name</a>
                </div>
                <div class="item-description">@news.Description</div>
            </div>
        }
    </div>
</div>