@using Waffle.Entities
@using Waffle.Models.Components
@model Swiper

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

<div class="wf-swiper">
    <div class="title">@Model.Title</div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            @if (Model.Items.Any())
            {
                @foreach (var item in Model.Items)
                {
                    <div class="swiper-slide">
                        <div class="swiper-album">
                            <img src="@item.Image" alt="@item.Title" loading="lazy" class="w-full" />
                            <div class="swiper-album__overlay">
                                <div class="swiper-album__overlay--title">
                                    <a href="@item.Url">
                                        @item.Title
                                    </a>
                                </div>
                                <div class="swiper-album__overlay--delimiter"></div>
                                <div class="swiper-album__overlay--description">
                                    @item.Description
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        loop: true, 
        autoplay: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true
        }
    });
</script>