@using Waffle.Models.Settings
@model Footer

<footer class="footer">
    <div class="footer-content">
        <div class="container py-4 md-py-0">
            <div class="row">
                <div class="col-6 col-md-4 mb-4">
                    <div class="footer-title">
                        <i class="fa fa-bars"></i>
                        <localize key="community" />
                    </div>
                    @if (Model.Links != null && Model.Links.Any())
                    {
                        <div class="row">
                            @foreach (var item in Model.Links)
                            {
                                <div class="col-md-6">
                                    <div class="footer-item">
                                        <a href="@item.Href" class="item-link" target="@item.Target">
                                            <i class="fas fa-caret-right me-1"></i>
                                            <span>@item.Name</span>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="col-6 col-md-4 mb-4">
                    <div class="footer-title">
                        <i class="fa fa-bars"></i>
                        <localize key="contactUs" />
                    </div>
                    <div class="footer-item text-truncate"><i class="fas fa-envelope"></i> <a href="mailto:@Model.Email">@Model.Email</a></div>
                    <div class="footer-item text-truncate"><i class="fas fa-phone"></i> <a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></div>
                    <div class="footer-item text-truncate"><i class="fab fa-telegram-plane"></i> <a href="/leaf/feedback">Feedback</a></div>
                </div>
                <div class="col-md-4">
                    <div class="footer-title">
                        <i class="fa fa-bars"></i>
                        <localize key="stayConnected" />
                    </div>
                    <div class="mb-2">Subscribe to receive the latest information</div>
                    <form method="post" action="/api/user/subscribe">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                            <button type="submit" class="input-group-text" id="email-addon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                                </svg>
                            </button>
                        </div>
                    </form>
                    @if (!User.Identity?.IsAuthenticated ?? false)
                    {
                        <div class="mb-2">
                            <small>
                                <localize key="or" />
                                <a href="/user/login">
                                    <localize key="signIn" />
                                </a>
                            </small>
                        </div>
                    }
                    <div class="fw-bold mb-1">Follow Us On</div>
                    <div class="d-flex gap-3 fs-4">
                        <a href="@Model.Social.FacebookUrl" class="text-white">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                        <a href="@Model.Social.InstagramUrl" class="text-white">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                        <a href="@Model.Social.XUrl" class="text-white">
                            <i class="fa-brands fa-square-x-twitter"></i>
                        </a>
                        <a href="@Model.Social.YoutubeUrl" class="text-white">
                            <i class="fa-brands fa-square-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="company">
            © @DateTime.Now.Year <a href="/">@Model.CompanyName</a>. All rights reserved.
        </div>
        <div class="dropdown">
            <button class="btn btn-link btn-sm text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
                    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855A8 8 0 0 0 5.145 4H7.5zM4.09 4a9.3 9.3 0 0 1 .64-1.539 7 7 0 0 1 .597-.933A7.03 7.03 0 0 0 2.255 4zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a7 7 0 0 0-.656 2.5zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5zM8.5 5v2.5h2.99a12.5 12.5 0 0 0-.337-2.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5zM5.145 12q.208.58.468 1.068c.552 1.035 1.218 1.65 1.887 1.855V12zm.182 2.472a7 7 0 0 1-.597-.933A9.3 9.3 0 0 1 4.09 12H2.255a7 7 0 0 0 3.072 2.472M3.82 11a13.7 13.7 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5zm6.853 3.472A7 7 0 0 0 13.745 12H11.91a9.3 9.3 0 0 1-.64 1.539 7 7 0 0 1-.597.933M8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855q.26-.487.468-1.068zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.7 13.7 0 0 1-.312 2.5m2.802-3.5a7 7 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7 7 0 0 0-3.072-2.472c.218.284.418.598.597.933M10.855 4a8 8 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4z" />
                </svg>
                Ngôn ngữ
            </button>
            <ul class="dropdown-menu text-sm py-0">
                <li>
                    <a class="dropdown-item" href="/?locale=en-US">
                        <span role="img" aria-label="English" class="me-2">🇺🇸</span>English
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/?locale=zh-CN">
                        <span role="img" aria-label="简体中文" class="me-2">🇨🇳</span>简体中文
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/?locale=ja-JP">
                        <span role="img" aria-label="日本語" class="me-2">🇯🇵</span>日本語
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/?locale=ko-KR">
                        <span role="img" aria-label="한국어" class="me-2">🇰🇷</span>한국어
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/?locale=vi-VN">
                        <span role="img" aria-label="Tiếng Việt" class="me-2">🇻🇳</span>Tiếng Việt
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
