@using Waffle.Models.Components
@model Feed

<div class="mb-4 feed">
    <div class="title">@Model.Name</div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        @foreach (var item in Model.Articles)
        {
            <div class="bg-white">
                <div class="card-image">
                    <img src="@item.Thumbnail" alt="@item.Name" class="object-fit-cover" loading="lazy" />
                </div>
                <div class="py-2">
                    <a href="@($"/product/{item.NormalizedName}")" class="line-clampin">
                        @item.Name
                    </a>
                </div>
            </div>
        }
    </div>
</div>