@using Waffle.Models.Components
@model Rank
@{
    Layout = null;
}

<div class="rank mb-4">
    @if (Model.Items != null)
    {
        <ol class="list-group list-group-numbered shadow">
            @foreach (var item in Model.Items)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold d-flex">
                            <a class="me-1" href="@item.Url">@item.Name</a>
                            <form action="/api/rank/vote" method="post">
                                <input type="hidden" name="catalogId" value="@Model.CatalogId" />
                                <input type="hidden" name="workId" value="@Model.Id" />
                                <input type="hidden" name="rankId" value="@item.Id" />
                                <button type="submit" class="text-success"><i class="fa-solid fa-circle-up"></i></button>
                            </form>
                        </div>
                        @item.Description
                    </div>
                    <span class="badge text-bg-primary rounded-pill">@item.Rating</span>
                </li>
            }
        </ol>
    }
</div>