@using Waffle.Models.Components
@model Image

<div class="@Model.Wrapper">
    @if (Model.HasLink)
    {
        <a href="@Model.Link.Href" aria-label="@Model.Link.Name" target="@Model.Link.Target">
            <img src="@Model.File.Url" alt="@Model.Alt" width="@Model.Width" height="@Model.Height" class="wf-image" loading="lazy" />
        </a>
    }
    else
    {
        <img src="@Model.File.Url" alt="@Model.Alt" width="@Model.Width" height="@Model.Height" class="wf-image" loading="lazy" />
    }
</div>