@page "/game/league-of-legends/champions"
@model Waffle.Pages.Game.LeagueOfLegends.ChampionsModel
@{
    ViewData["Title"] = "Champions";
}

<div class="container">
    <div class="title">Champion (@Model.Champions.Count)</div>
    <div class="grid grid-cols-4 gap-4 mb-4">
        @foreach (var item in Model.Champions)
        {
            <div class="shadow bg-white p-2">
                <div class="flex gap-2">
                    <div style="width: 100px">
                        <img src="@($"http://ddragon.leagueoflegends.com/cdn/{item.Value.Version}/img/champion/{item.Value.Image.Full}")" loading="lazy" width="100" height="100" />
                    </div>
                    <div style="flex: 1">
                        <h3>@item.Value.Name - @item.Value.Title</h3>
                        <div class="flex gap-2 justify-end mt-1 mb-1 text-sm">
                            @foreach (var tag in item.Value.Tags)
                            {
                                <span class="px-2 py-1 bg-gray-100 rounded">
                                    @tag
                                </span>
                            }
                        </div>
                        <div class="text-muted text-sm">
                            @item.Value.Blurb
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>