@page
@model Waffle.Pages.Products.Shopee.IndexModel

<div class="container">
    <div class="row">
        <div class="col-md-8">

            @if (Model.Product.LinkList.Any())
            {
                <div class="mb-4 product-lister">
                    <div class="title">
                        <span>Shopee</span>
                    </div>
                    <div class="row">
                        <div class="row g-2">
                            @foreach (var item in Model.Product.LinkList)
                            {
                                <div class="col-md-3 col-6">
                                    <a href="@item.Link">
                                        <div class="card-image bg-dark relative">
                                            <img src="@item.Image" alt="@item.LinkName" class="object-cover product-thumbnail" loading="lazy" />
                                        </div>
                                    </a>
                                    <div class="py-2">
                                        <div class="mb-1 d-flex justify-between">
                                            <div class="text-warning text-xs">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                        <a href="@item.Link" class="line-clampin" rel="nofollow" target="_blank">
                                            @item.LinkName
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>